<a href="https://colab.research.google.com/github/alexbratty/testrepo/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

*   List popular languages for data science
*   List data science tools
*   Examples of simple code

Some of the popular languages that Data Scientists use are:
Python
R
SQL

Some of the commonly used libraries used by Data Scientists include:
NumPy
TensorFlow
Matplotlib

|Data Science Tools|
|-------------------|
|Jupyter Notebooks|
|Zeppelin Notebooks|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Alex Bratty